<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyC9Dbeq4-eH-Y5DP1OYtYqZU5fepLaDN0k",
        authDomain: "krumholz-202200.firebaseapp.com",
        databaseURL: "https://krumholz-202200.firebaseio.com",
        projectId: "krumholz-202200",
        storageBucket: "krumholz-202200.appspot.com",
        messagingSenderId: "521601647779"
      };
      firebase.initializeApp(config);
    </script>
    <script type="text/javascript">
      initApp = function() {
        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {
            // User is signed in.
            var displayName = user.displayName;
            var email = user.email;
            var emailVerified = user.emailVerified;
            var photoURL = user.photoURL;
            var uid = user.uid;
            var phoneNumber = user.phoneNumber;
            var providerData = user.providerData;
            user.getIdToken().then(function(accessToken) {
              document.getElementById('profile-name').textContent = displayName;
              document.getElementById('profile-email').textContent = email;
              document.getElementById('profile-photo').src = photoURL;
              document.getElementById('profile-userid').textContent = uid;
              document.getElementById('account-details').textContent = JSON.stringify(user, undefined, 4);
            });
          } else {
            document.getElementById('account-details').textContent = 'null';
          }
        }, function(error) {
          console.log(error);
        });
      };

      window.addEventListener('load', function() {
        initApp()
      });
    </script>
    <style>
        #profile-photo {
            height: 55px;
            width: 55px;
            border-radius: 50%;
        }
    </style>
  </head>
  <body>
    <div id="profile-name"></div>
    <div id="profile-email"></div>
    <img id="profile-photo" src="">
    <div id="profile-userid"></div>
    <div><pre id="account-details"></pre></div>
  </body>
</html>
